/* Primary (green):

- `hsl(160deg, 100%, 30%)`

Secondary (gold):

- `hsl(45deg, 100%, 50%)` (lighter)
- `hsl(45deg, 100%, 40%)` (darker)

Grays:

- `hsl(0deg, 0%, 0%)` (black)
- `hsl(0deg, 0%, 10%)` (very dark)
- `hsl(0deg, 0%, 30%)` (dark)
- `hsl(0deg, 0%, 40%)` (medium)
- `hsl(0deg, 0%, 60%)` (light)
- `hsl(0deg, 0%, 100%)` (white) */

/* 
NOTES ON APPROACH TO SOLUTION:
- Josh does broad strokes
  - ie. overall padding and margin first
  - Then works on details
    - ie. color, borders
- Josh tries to make styles for one part of the design not influence other parts of the design
  - ie. uses negative margin so the local change stays local

NOTES ON SOLUTION:
- I didn't use max-width wrapper
- Note to self - can be useful to have a div within semantic markup ie. header and main
then within that have the same class wrapper to set widths
- Forgot to style the of the text - they were pretty close to defaults so didn't realize I needed to set those.
- Style so that classes are reusable and don't affect overall layout ie. 24px padding then -24px margin to align text on a vertical line
- Uses width: fit-content instead of max-width: max-content
*/

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
header {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
}

header strong {
  color: hsl(160deg, 100%, 30%);
}

.title {
  margin-left: 48px;
}

header p {
  margin-left: 48px;
  max-width: 320px;
}

.intro-chunk {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  padding-top: 80px;
  padding-bottom: 80px;
}

.card {
  background-color: white;
  max-width: 800px;
  
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.card p {
  margin-left: 48px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  padding: 24px 48px;
  margin-left: -8px;
  /* margin-top: 20px; */
  max-width: max-content;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
